@media(max-width:670px){
   body{
       grid-template: 
       "header"1fr
       "top-wrapper"
       "footer";
   }
   .top-illust{
       width: 100%;
       max-width: 100%;
       height: auto;
   }
}
