header{
  background-color: white;
  height: 65px;

}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.container{
  max-width: 700px;
  width: 700px;
  margin: 50px auto ;
  border:4px solid #ffc0cb;
  border-radius: 10px 10px 0px 0px;
 
}
.top-container h1{
  color: #ffc0cb;
  font-weight: normal;
}

.top-illust{
  width: 400px;
}

.menu-list{
  display: table;
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  text-align: center;
  

}
.menu-list a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.menu-list li{
  display: table-cell;
  min-width: 50px;
  background-color: #ffc0cb;
  line-height: 65px;
}
.menu-list li:hover{
  background-color: #f5b2b2;
}
.header-menu{
  margin: 0px 0px;
}
.top-container{
  padding: 20px;
  text-align: center;
}

.inu{
  width: 300px;
  margin: 50px 0px;
}
.top-wrapper{
  width: 700px;
  margin: 0px auto ;
  border:4px solid #ffc0cb;
  border-radius: 10px;
}
.illust-page{
  width: 600px;
  margin: 0px auto ;
}
.top-top{
  text-align: center;

}

